@font-face {
    font-family: "norse-bold";
    src: url(./font/norse-bold-webfont.woff2);
}

:root {
    --bk-outline-color: #E5E7EB;
    --nature-color: #596D48;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 12px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 95vh;
    width: 95vw;
}

.left {
    background-image: url(./images/background.avif);
    background-repeat: no-repeat;
    background-position: center;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.main {
    flex: 1;
    background-color: transparent;
}

.banner {
    height: 20vh;
    width: 40vw;
    background-color: rgb(0,0,0,0.5);
    position: relative;
    top: 30vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.odin {
    height: 15vh;
    width: auto;
}

.title {
    font-family: "norse-bold", sans-serif;
    color: white;
    font-size: 64px;
}

.right {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 30vh;
    background-color: var(--bk-outline-color);
    padding: 10% 25% 5px 30px;
    display: flex;
    flex-direction: column;

}

.body {
    height: 30vh;
    background-color: white;
    display: flex;
    padding: 30px;
}

fieldset {
    display: flex;
    border: none;
    padding: 5px 0px;
}

.holder {
    display: flex;
    flex-direction: column;
    margin: 10px 15px 5px 0px;

}

input {
    outline: 2px var(--bk-outline-color);
}

input:invalid {
    border-color: red;
}

input:focus {
    border-color: lightblue;
    box-shadow: #E5E7EB;
}

.right-footer {
    height: 40vh;
    background-color: var(--bk-outline-color);
    display: flex;
    flex-direction: column;
    padding: 30px;

}

button {
    background-color: var(--nature-color);
    color: white;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 10px 25px 0px;
}

.left-footer-text {
    color: white;
}

a {
    color: var(--nature-color)
}

.title-case {
    font-size: 16px;
    font-weight: bold;
}

em {
    font-style: italic;
}

